<!DOCTYPE html>
<html>
<head>
	 <meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title> Qui est le champion?</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> 
	<style type="text/css">
		body {
			background-color: #2F4F4F;
			font-family: 'Roboto';
			font-size:1.2em;
			color: white;

		}

		h1 {
			font-size: 5em;
			text-align: center;
		}

		h2 {
			text-align: center;
		}

		.btn {
			font-size:2em;
		}

		.row {
			padding-top: 30px;
		}

	</style>

	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-sm-12"> <h1> Qui est le roi de tous les jeux de Go? </h1></div>
			</div>
			<div class="row">
				<div class="col-sm-1"></div>
				<div class="col-sm-5">
					<form method="POST" name="champion">
					<button class="middle btn btn-large btn-primary centered" value="francois" onclick="this.form.submit()">JP est le roi du GO du monde</button>
				</div>
				<div class="col-sm-5">
					<button class="middle btn btn-large btn-primary centered" value="francois" onclick="this.form.submit()">François pète JP comme un noob</button>
				</div>
					</form>
				<div class="col-sm-1">
			</div>
		</div>
		<div class="row">
			<h2> Le joeur victorieux est actuellement {{name}}</h2>
		</div>
	</div>	

</head>
<body>

</body>
</html>
